#customInput {
  height: 30px;
  border: 1px solid #00000021;
  width: 220px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
  border-radius: 6px;
  padding-right: 65px;
}
#customInput:focus {
  outline: none !important;
  border: 1px solid #00000045;
  border-color: #8bb564c4;
}

.btnParent {
  border: 1px solid #0000004a;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: rgb(0 0 0 / 5%) 0px 1px 2px 0px;
}
.btnInfo {
  background: #60a3f791;
  border-color: #7caae554;
}
.btndanger {
  background: #c57878ba;
  border-color: #f58b8b9c;
  width: 27px;
}
.btndanger {
  background: #c57878ba;
  border-color: #f58b8b9c;
  width: 27px;
}
.btnOk {
  background: #75c34bd9;
  border-color: #769f69;
}
.btnOk:hover {
  background: #98c382ad;
}
.btnInfo:hover {
  background: #5c9be9d6;
}
.btndanger:hover {
  background: #c24e4eba;
}
.listUtils {
  display: flex;
  gap: 5px;
  position: absolute;
  background: #ffffff;
  padding: 3px 5px 3px 5px;
  top: 32px;
  right: 28px;
  width: auto;
  min-height: 28px;
  border: 1px solid #00000026;
  z-index: 3;
  border-radius: 7px 0px 7px 7px;
  box-shadow: rgb(0 0 0 / 5%) 0px 0px 0px 1px;
}
