.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  position: relative;
  top: 20px;
}
.lds-dual-ring:after {
    content: " ";
      display: block;
      width: 35px;
      height: 35px;
      margin: 20px;
      border-radius: 52%;
      border: 1px solid #0c0b0b;
      border-color: #679333c4 transparent #101620 transparent;
      -webkit-animation: lds-dual-ring 1.2s linear infinite;
      animation: lds-dual-ring 0.6s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
